@import url('fonts.css');

body {
    background: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
        margin: 0;
    }

}
footer {
    position: absolute;
    top: 90%;
}
h1 {
    color: pink;
    text-align: center;
    font-size: 36px;
}
.text {
    color: pink;
}
.view-main {
    & button {
        font-size: 20px;
        background: pink;
        border-radius: 20px;
        border: 0;
        padding: 15px 20px;
        transition: background .5s 100ms, color .5s 100ms, scale .5s 100ms;
        &:hover {
            cursor: pointer;
            background: rgb(224, 102, 102);
            color: whitesmoke;
            scale: 1.1;
        }
    }
}
.inputs-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & button {
        font-size: 18px;
        padding: 0 20px;
        background: pink;
        transition: background .5s 100ms, color .5s 100ms, scale .5s 100ms;
        &:hover {
            cursor: pointer;
            background: rgb(224, 102, 102);
            color: whitesmoke;
            scale: 1.1;
        }
    }
}
textarea {
    padding: 10px;
    border: solid 5px pink;
    margin-bottom: 20px;
}
input[type="datetime-local"] {
    border: solid pink;
    padding: 5px;
}
.input-add {
    border-radius: 15px;
    &:focus {
        outline: none;
    }
}
.view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 0;
}
.active {
    visibility: visible;
    z-index: 1;
}
.buttons {
    display: flex;
    flex-direction: column;
    & button:not(:last-child) {
        margin-bottom: 10px;
    }
}
#modal-success {
    
}
#btn-home {
    text-decoration: none;
}
.description {
    text-align: justify;
}
